.h1 {
    padding: 20px;
    width: 12%;
    margin:50px;
    float:left;
    background: #4aaaa5;
    color:#ffffff;
    position: default;
  }
  
  .nav{
    color:#777777;
    float: right;
    width: 30%;
    /* margin:50px; */
    padding:0px;;
  }

  .nav a {
    float: right;
    color: #777777;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    }
  
  
  .nav a:hover {
      background-color: #4aaaa5;
      color: white;
    }

.fixedheader{
    position:fixed;
    top:0px;
    left: 0px;
    width:99%;
    background:#4aaaa5;
    padding: 30px; 
}

.bgpattern{

}

    .contact{
    margin-top:50px;
    width:300px;
    margin: 200px;
    border-style: solid;
    /* position: relative; 
    float: left; */
    display:block;
    padding: 20px;
    width: 60%;
    height: 300px;

    }



    .footer{
        padding:5px;
        width: 100%;
        left:0px;
        /* margin:300px; */
        bottom: 0px;
        /* float: right;  */
        background-color: #666666;
        text-align: center;
        position:fixed;
    }

        /* .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
    }           */
