.nav{
    color:#777777;
    float: right;
    width: 30%;
    padding:0px;;
    }

.nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    }


.topnav{
  margin-right:20px;
}
  
.navbar-brand{
    margin-left: 20px;
    color: white;
  }
  

  /* .pattern{
    background-image: url("img/pipes.png");
    background-color: #cccccc;
    height: 50px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
} */


.pattern{
    background-image: url("img/pipes.png");
    background-color: #333333;
    height:100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bio{
    border-style: groove;
    width:960px;
    margin: 100px 100px 150px 100px;
    position: relative; 
    float: left;
    padding: 20px;
    width: 70%;
    height: 450px;

}


h3{
    font-size: 30px;
    color: #4aaaa5;
}

.img-me{
    width:100px;
    background-image: url(img/IMG_5874);
    background-size:contain;
    width: 250px;
    background-repeat: no-repeat;
}

/* .img-me :hover{
    background-size:100%; 
} */

.footer{
    padding:5px;
    width: 100%;
    left:0px;
    /* margin:300px; */
    bottom: 0px;
    /* float: right;  */
    background-color: #666666;
    text-align: center;
    position:fixed;
}

@media all and (max-width: 980px) {
    .navigation {
      justify-content: space-around;
    }
  
  @media all and (max-width: 768px) {
    .navigation {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      padding: 0;
        }

        @supports (display: grid) {
            .container {
              margin: 0;
            }
        }

    }
}




/* @media screen all (max-width: 640px){
    .navigation {
        position: static; 
    }
}

@media only screen and (min-width: 640px){
    width:100% 
}


@media only screen and (min-width: 768px){
    width:100% 
}


@media only screen and (min-width: 980px){
    width:100% }